body {
    background: linear-gradient(to bottom, #ffffff, #252525); /* Establece el fondo degradado de negro */
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

html{
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

h1 {
    text-align: center;
    color: #ffffff;
    text-shadow: 2px 2px 4px #85cbf3;
}

h2 {
    text-align: center;
    color: #ffffff;
    text-shadow: 2px 2px 4px #85cbf3;
}

p {
    text-align: center;
    color: #eae8f5;
    font-size: 18px;
    margin: 20px 0;
}
figcaption{
    text-align: center;
    color: white;
    text-shadow: #ffffff;
}

.image-container{
    width: 100%;

}

.logo-web {
    width: 100%;
    border-radius: 5px;
}






/* Agregar colores a los botones */
#instagramBtn {
    background-color: yellow;
    text-align: center;
}
#twitterBtn {
    background-color: blue;
    text-align: center;
}
#linkedinBtn {
    background-color: red;
    text-align: center;
}

/* Aumentar tamaño al pasar el mouse */
button:hover {
    transform: scale(1.2);
}


.button-container {
    text-align: center; /* Centra los botones */
    width: 100%;
}

.button {
    /* Estilos para los botones */
}


/* CONFIGURACION BANNER */

.banner-container {
    text-align: center;
    width: 100%;
}
.banner-image {
    width: 100%;
    border-radius: 5px;
}
.banner-title {
    font-size: 36px;
    color: white;
    text-shadow: 2px 2px #333333;
    margin-top: 10px;
}

/* MENU */ 
.checkbox {
    display: none;
}
header {
    position: fixed;
    width: 100%;
    z-index: 10;
}
.header-container{
    width: 90%;
    position: relative;
    margin: 1rem auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-logo{
    width: 6rem;
}
.btn-label {
    width: 2rem;
    height: 1.4rem;
}
.header-button{
    width: 2rem;
    height: 0.2rem;
    background: #000000;
    position: absolute;
    top: 1.9rem;
    transition: all 0.2s;
}

.header-button::before,
.header-button::after{
    content:"";
    width: 2rem;
    height: 0.2rem;
    background: #000000;
    position: absolute;
    top: -0.6rem;
    transition: all 0.2s;
}

.header-button::after{
    top: 0.6rem;
}

.menu{
    background: #d1d1d1;
    width: 100%;
    height: 10rem;
    position: fixed;
    z-index: 9;
    top: -12rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    padding-top: 2rem;
    transition: all 0.5s;

}
ul{
    list-style: none;
}
li{
    margin: 0.5rem;
}
a {
    margin: 0 1rem;
    color: #000000;
    text-decoration: none;
}

#icon-menu{
    color:#000000;
    text-decoration:none ;
    background: none;
}

.checkbox:checked ~ .menu{
    background: #ffffff;
    top: 0rem;
}

.checkbox:checked + header .header-container label .header-button{
    background: none;
}
.checkbox:checked + header .header-container label .header-button::before{
    transform: rotate(35deg);
    top: 0;
}
.checkbox:checked + header .header-container label .header-button::after{
    transform: rotate(-35deg);
    top:0;
}

    


/* SOCIAL BAR */ 

.social-bar {
    position: fixed;
    right: 0;
    top: 35%;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end ;
    z-index: 100 ;
    
}
.icon {
    color: white;
    text-decoration: none;
    padding: 0.7rem;
    display: flex;
    transition: all .5s;
}

.icon-instagram {
    background: #ff4e08;
}

.icon-telegram {
    background: none;
}
.icon-twitter {
    background: #3a99f1;
    
}
.icon-youtube {
    background: #E83028;
}
.icon-linkedin {
    background: #0874da;
}

.icon:last-child { 
    border-radius: 0 0 0 1rem;

}
.icon:first-child {
    border-radius: 1rem 0 0 0;
}
.icon:hover {
    padding-right: 3rem;
    border-radius: 1rem 0 0 1rem;
    box-shadow: 0 0 .5rem rgba(0, 0, 0, 0.42);
}


