body {
    background: linear-gradient(to bottom, #000000, #252525); /* Establece el fondo degradado de negro */
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}


h1 {
    text-align: center;
    color: #ffffff;
    text-shadow: 2px 2px 4px #85cbf3;
}

h2 {
    text-align: center;
    color: #ffffff;
    text-shadow: 2px 2px 4px #85cbf3;
}

p {
    text-align: center;
    color: #eae8f5;
    font-size: 18px;
    margin: 20px 0;
}
figcaption{
    text-align: center;
    color: white;
    text-shadow: #ffffff;
}

.image-container{
    width: 100%;

}

.logo-web {
    width: 100%;
    border-radius: 5px;
}






/* Agregar colores a los botones */
#instagramBtn {
    background-color: yellow;
    text-align: center;
}
#twitterBtn {
    background-color: blue;
    text-align: center;
}
#linkedinBtn {
    background-color: red;
    text-align: center;
}

/* Aumentar tamaño al pasar el mouse */
button:hover {
    transform: scale(1.1);
}


.button-container {
    text-align: center; /* Centra los botones */
}

.button {
    /* Estilos para los botones */
}


.banner-image {
    width: 100%;
    border-radius: 10px;
}

.banner-title {
    font-size: 36px;
    color: white;
    text-shadow: 2px 2px #333333;
    margin-top: 10px;
}



    /* SOCIAL BAR */ 

.social-bar {
    position: fixed;
    right: 0;
    top: 35%;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end ;
    z-index: 100 ;
    
}
.icon {
    color: white;
    text-decoration: none;
    padding: 0.7rem;
    display: flex;
    transition: all .5s;
}

.icon-twitter {
    background: #3a99f1;
    
}
.icon-linkedin {
    background: #0874da;
}
.icon-instagram {
    background: #ff4e08;
}
.icon-youtube {
    background: #E83028;
}

.icon: :last-child{
    border-radius: 0 0 0 1rem;

}
.icon: :first-child {
    border-radius: 1rem 0 0 0;
}
.icon:hover {
    padding-right: 3rem;
    border-radius: 1rem 0 0 1rem;
    box-shadow: 0 0 .5rem rgba(0, 0, 0, 0.42);
}


