body {
    background: linear-gradient(to bottom, #000000, #333333); /* Establece el fondo degradado de negro */
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}


h1 {
    text-align: center;
    color: #ffffff;
    text-shadow: 2px 2px 4px #85cbf3;
}

h2 {
    text-align: center;
    color: #ffffff;
    text-shadow: 2px 2px 4px #85cbf3;
}

p {
    text-align: center;
    color: #555555;
    font-size: 18px;
    margin: 20px 0;
}

.center-image {
    max-width: 100%; /* Establece un ancho máximo */
    width: 100%; /* Establece el ancho en porcentaje */
    display: block;
    margin: 0 auto;
}



/* Agregar colores a los botones */
#instagramBtn {
    background-color: yellow;
    text-align: center;
}
#twitterBtn {
    background-color: blue;
    text-align: center;
}
#linkedinBtn {
    background-color: red;
    text-align: center;
}

/* Aumentar tamaño al pasar el mouse */
button:hover {
    transform: scale(1.1);
}


.button-container {
    text-align: center; /* Centra los botones */
}

.button {
    /* Estilos para los botones */
}


.banner-image {
    width: 100%;
    border-radius: 10px;
}

.banner-title {
    font-size: 36px;
    color: white;
    text-shadow: 2px 2px #333333;
    margin-top: 10px;
}
